body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* ID background для каждой страницы сайта */
#generalback {
    background: #000 url(../img/f2d6a3a.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#loreback {
    background: #000 url(../images/1.jpg);
    color: #fff
}
#regionsback {
    background: #000 url(../images/111mon.jpg);
    color: #fff
}
#characters {
    background: #000 url(../images2/back.jpg);
    color: #fff
}
#characters_font{
    font-size: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* Стиль блока текста и картинки header */
header {
    width: 100%;
    min-height: 100vh;
    position: static;
}

    header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: url(../img/Wn0CrYWSK34.png);
        background-size: cover;
        z-index: 0;
    }

    header div {
        position: absolute;
        z-index: 1;
        top: 0%;
        right: 40%;
    }

    header h1 {
        font-size: 8rem;
        font-weight: 700;
        color: #2302f7;
        position: static;
        bottom: 50px;
    }

    header h2 {
        font-size: 2.2rem;
        font-weight: 300;
    }

header_char {
    width: 100%;
    min-height: 100vh;
    position: static;
}

    header_char div {
        position: absolute;
        z-index: 1;
        top: 0%;
        right: 40%;
    }

    header_char h1 {
        font-size: 8rem;
        font-weight: 700;
        position: static;
        bottom: 50px;
    }

    header_char h2 {
        font-size: 2.2rem;
        font-weight: 300;
    }

.wrapper {
    height: 45vh;
}

.parallax-img {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    background-image: url(../img/QuIQcwdWBmY.png);
}

.transition-img {
    top: 0%;
    right: 0%;
}

/* Стиль заголовок и текста для страницы general */
.general{

}
    .general h1{
    text-align: center;
    padding: 75px;
    margin-top: 150px;
    }

    .general p{
    margin: 50px;
    font-size: 2rem;
    }


/* Стиль блоков текста и картинки */
.container-block {
    position: absolute;
    bottom: -135%;
    right: 50%;
    padding-left: 350px;
    padding-right: 300px;
}

.text-block {
    position: relative;
    bottom: 0px;
    right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}


guide__title {
    font-weight: 700;
    color: #2302f7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 72px;
    font-size: 48px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -85%);
    padding-left: 120px;
}

.righted-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -100%);
    padding-left: 120px;
}

.img {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, 350%);
    padding-left: 120px;
}

.pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -105%);
    padding-left: 0px;
}


/* Стиль ссылок */
A:link {
    text-decoration: underline;
    color: white;
}

A:visited {
    text-decoration: none;
    color: white;
}

A:active {
    text-decoration: none;
}

A:hover {
    text-decoration: none;
    color: white; /* Цвет  ссылки */
}


.note {
    position: relative;
    display: flex;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.note__wrap {
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    font-size: 12px;
    background-image: url(../img/background_articles.jpg);
    background-position: center top;
    background-size: cover;
}

.note__title {
    width: 100%;
    min-height: 34px;
    line-height: 34px;
    font-size: 24px;
    font-weight: 400;
    margin-top: 53px;
    padding-bottom: 31px;
    text-align: center;
    background-image: url(../img/separator.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.note__content-wrap {
    width: 756px;
    height: 878px;
    margin-top: 131px;
    margin-left: -25px;
    background-image: url(../img/note_articles.png);
    background-position: center;
    background-size: cover;
    color: #634827;
    line-height: 26px;
    font-size: 16px;
}

.note__content {
    width: 605px;
    margin-left: 110px;
    margin-top: 53px;
}


.note__sidebar {
    margin-top: 170px;
    margin-left: 87px;
}

.note__tab {
    width: 310px;
    height: 56px;
    background-image: url(../img/tab.png);
    background-position: center;
    background-size: cover;
    transform: translateX(0);
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    line-height: 56px;
    color: #ffe9cd;
    padding-left: 50px;
    box-sizing: border-box;
    margin-bottom: 0.2rem;
    transition: all .2s ease-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 32px;
}

.note__tab--active {
    background-image: url(../img/tab_active.png);
    color: #211e1b;
    transform: translateX(20px);
    pointer-events: none;
}

.limiter {
    width: 554px; /* Ширина блока */
    padding: 10px; /* Поля */
    font-size: 1.5em; /* Размер шрифта */
    word-wrap: break-word; /* Перенос слов */
}


.section {
    max-height: 575px;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    direction: ltr;
}
    .section h2 {
        scroll-snap-align: start;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .section::-webkit-scrollbar {
        width: 5px;
    }

    .section::-webkit-scrollbar-track {
        background-color: rgb(228 228 228 / 0.65);
        border-radius: 10px;
    }
    .section::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: linear-gradient(180deg,#D6C4AE 99%,#D6C4AE 99%);
    }



ul, li {
    list-style: none;
}