body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* ID background для каждой страницы сайта */
#generalback {
    background: #000 url(../img/f2d6a3a.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#loreback {
    background: #000 url(../images/1.jpg);
    color: #fff
}
#regionsback {
    background: #000 url(../images/111mon.jpg);
    color: #fff
}
#characters {
    background: #000 url(../images2/back.jpg);
    color: #fff
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* Стиль блока текста и картинки header */
header {
    width: 100%;
    min-height: 100vh;
    position: static;
}

    header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: url(../img/Wn0CrYWSK34.png);
        background-size: cover;
        z-index: 0;
    }

    header div {
        position: absolute;
        z-index: 1;
        top: 0%;
        right: 40%;
    }

    header h1 {
        font-size: 8rem;
        font-weight: 700;
        color: #2302f7;
        position: static;
        bottom: 50px;
    }

    header h2 {
        font-size: 2.2rem;
        font-weight: 300;
    }

.wrapper {
    height: 45vh;
}

.parallax-img {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    background-image: url(../img/QuIQcwdWBmY.png);
}

.transition-img {
    top: 0%;
    right: 0%;
}

/* Стиль заголовок и текста для страницы general */
.general{

}
    .general h1{
    text-align: center;
    padding: 75px;
    margin-top: 150px;
    }

    .general p{
    margin: 50px;
    font-size: 2rem;
    }


/* Стиль блоков текста и картинки */
.container-block {
    position: absolute;
    bottom: -135%;
    right: 50%;
    padding-left: 350px;
    padding-right: 300px;
}

.text-block {
    position: relative;
    bottom: 0px;
    right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}


guide__title {
    font-weight: 700;
    color: #2302f7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 72px;
    font-size: 48px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -85%);
    padding-left: 120px;
}

.righted-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -100%);
    padding-left: 120px;
}

.img {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, 350%);
    padding-left: 120px;
}

.pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -105%);
    padding-left: 0px;
}


/* Стиль ссылок */
A:link {
    text-decoration: underline;
    color: white;
}

A:visited {
    text-decoration: none;
    color: white;
}

A:active {
    text-decoration: none;
}

A:hover {
    text-decoration: none;
    color: white; /* Цвет  ссылки */
}

 